{
  "mqtt": {
    "host": "127.0.0.1",
    "port": 1883,
    "tls_port":7335,
	"auth_type" : "none",
    "username" : "",
    "password" : "",
    "ca_cert"  :  "",
    "client_cert" :"",
    "client_key"  :""
  },
  "log": {
    "path": "./logs/",
    "backCount": 2,
    "maxBytes": 1000000,
    "level": "INFO",
    "type":"FILE",
    "stacktrace":"yes",
	"fcl_port": "6563"
  },
  "ui": {
    "customui_port": 1456,
    "fgf_port": 0
  },
  "fgf_stateRetention": {
    "table": 20,
    "chart": 20,
    "inputRate": 20
  },
  "featureId": "nevonex_feature",
  "deviceIp": "127.0.0.1",
  "env" : "DEV",
  "fsmEnabled" : false,
  "ssl_enabled_wsgi" : false,
  "device_static_ip": "127.0.0.1",
  "folderPath": {
    "in": {
      "rel": ".",
      "abs": "/var/trans/featureid/incoming/"
    },
    "out": {
      "rel": ".",
      "abs": "/var/trans/featureid/outgoing/"
    },
    "res": {
      "size":5, 
      "rel": "./",
      "abs": "/var/trans/featureid/resources/"
    }
  },
  "fif" : {
	 "port" : 6563	
  } 
}
